* {
     box-sizing: border-box;
}
 body {
     background: white;
     padding-top: 145px;
     padding-bottom: 3em;
     margin: 0;
}
 a {
     text-decoration: none;
}
 ul, li {
     margin: 0;
     padding: 0;
     list-style: none;
}
 input{
     border-radius: 6rem;
}
 button {
     width: 40px;
     height: 35px;
     border: 0;
     background: none;
     cursor: pointer;
     outline: 0;
     position: relative;
     z-index: 2000;
}
 .alert-light{
     background-color: white;
     border:0px;
}
 .input-group-append {
     margin-left: -47px;
     margin-top:7px;
     border: 0px;
     z-index: 2000;
}
 .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
     border-top-right-radius: 6rem;
     border-bottom-right-radius: 6rem;
}
 .input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
     border-radius: 6rem;
     border:0px;
}
 .container {
     max-width: 80%;
}
 .btn {
     background-color: white;
}
 .form-control {
     border:0px;
     border-radius: 6rem;
     padding: 1.5rem 1.75rem;
}

 .no-imgs {
     color: #7bcbc4;
     height: 140px;
     padding-top: 62px;
     text-align: center;
     font-size: 1.25em;
}
 .img-list a {
     display: block;
     margin: auto;
}
 .img-wrap {
     background-color: #fff;
     margin-bottom: .8em;
     position: relative;
}
 .img-wrap img {
     min-width: 100%;
}
 .inner, .main-content {
     width: 90%;
     max-width: 1025px;
     margin: auto;
     margin-top:5%;
}
 .main-header {
     position: fixed;
     top: 0;
     left: 0;
     right:0;
     width: 100%;
     min-height: 80px;
     z-index: 1000;
     -webkit-box-shadow:inset 0 138px 29px -100px #fff;
     -moz-box-shadow:inset 0 138px 29px -100px #fff;
     box-shadow:inset 0 138px 29px -100px #fff;
}
 .main-content::after {
     content: " ";
     display: table;
     clear: both;
}

 .input-group {
     margin-top:4%;
}
 @media (min-width: 0) and (max-width: 549px) {
     .img-list li {
         text-align: center;
         margin: 20px 0 0;
         font-size: 0;
    }
     .img-list img {
       width: 50%;
     }
}
 @media (min-width: 550px) {
     .img-list li {
         float: left;
         width: 50%;
    }
     .img-wrap img {
         height: 235px;
    }
     .img-list .no-imgs {
         float: none;
         width: 100%;
    }
     .img-wrap {
         border: 1px solid white;
         padding: 0;
         overflow: hidden;
         font-size: 0;
    }
}
 @media (min-width: 769px) {
     body {
         padding-top: 115px;
    }

     .search-form {
         width: 422px;
         float: right;
         margin-top: 34px;
    }
     .img-list li {
         width: 25%;
    }
}
 @media (min-width: 769px) {
     .img-list li:nth-of-type(4n+1) {
         clear: left;
    }
}
